name: MockMPI CI

on:
    push:
        branches:
            - main

    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ ubuntu-latest, macos-latest ]
                py: [ 3.7, 3.8, 3.9 ]

        steps:
            - uses: actions/checkout@v2

            - name: Set up Python ${{ matrix.py }}
              uses: actions/setup-python@v2
              with:
                python-version: ${{ matrix.py }}

            - name: Cache pip
              uses: actions/cache@v2
              with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-${{ matrix.py }}-pip-${{ hashFiles('requirements.txt') }}
                restore-keys: |
                    ${{ runner.os }}-${{ matrix.py }}-pip-
                    ${{ runner.os }}-

            - name: Install basic dependencies
              run: |
                python -m pip install -U pip
                pip install -U numpy pytest

            - name: Run Tests
              run: |
                export PYTHONPATH=$PWD:$PYTHONPATH
                pytest
